:root {
  --c-active: #275EFE;
  --c-active-inner: #FFFFFF;
  --c-default: #D2D6E9;
  --c-default-dark: #C7CBDF;
  --c-black: #1B1B22;
}

.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  position: relative;
  background: var(--c-black);
  color: #fff;
  outline: none;
  cursor: pointer;
  font-size: 35px;
  line-height: 52.5px;
  font-weight: 600;
  display: block;
  width: 330px;
  text-align: center;
  border-radius: 17.5px;
  margin: 0 auto;
  padding: 30px 0;
}
.btn span {
  position: relative;
  z-index: 1;
}
.btn svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  fill: var(--c-active);
}
.btn svg circle {
  transition: transform var(--duration, 0.25s) ease-out;
}
.btn svg circle.top-left {
  transform: translate(var(--spacing, -16px), var(--spacing, -40px));
}
.btn svg circle.middle-bottom {
  transform: translate(var(--spacing, 8px), var(--spacing, 40px));
}
.btn svg circle.top-right {
  transform: translate(var(--spacing, 40px), var(--spacing, -40px));
}
.btn svg circle.right-bottom {
  transform: translate(var(--spacing, 4px), var(--spacing, 40px));
}
.btn svg circle.left-bottom {
  transform: translate(var(--spacing, -40px), var(--spacing, 40px));
}
.btn:hover {
  --spacing: 0;
  --duration: .45s;
}

.grid {
  display: grid;
  grid-gap: 24px 32px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-auto-flow: row;
}
.grid .last {
  grid-column: 2;
  grid-row: 3;
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  display: flex;
  font-family: "Poppins", Arial;
  justify-content: center;
  align-items: center;
  background: #fff;
}
@media only screen and (orientation:portrait){
  body .grid {
    transform: rotate(90deg);
  }
}